/* Webfont: KlavikaBasic-Regular */
@font-face {
    font-family: 'KlavikaBasic';
    src: url('/fonts/KlavikaBasic-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

/* Webfont: KlavikaBasic-Medium*/
@font-face {
    font-family: 'KlavikaMedium';
    src: url('/fonts/KlavikaBasic-Medium.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

/* Webfont: KlavikaBasic-Bold */
@font-face {
    font-family: 'KlavikaBold';
    src: url('/fonts/KlavikaBasic-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
}
