/* Colors */

$white: #ffffff;
$black: #000000;
$grey: #cccccc;
$lightgrey: #dddddd;
$shl-blue: #8cb8ca;



// Default values
$container-width: 650px;
$container-height: 1200px;

$default-margin-bot: 20px;
$small-margin-bot: 10px;


//font-size
$base: 1; //13px


